<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <h1 class = "secure-speak">Secure Speak</h1>
        <h2>Forgot Password</h2>
        <form action="/forgot_password" method="post">
            <input class = "input" type="text" name="email" placeholder="email" autocomplete="off" required>
            <button class="button" type="submit">Reset Password</button>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
