<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1 class = "secure-speak">Secure Speak</h1>
        <h2>Login</h2>
        <form action="/login" method="post">
            <input class="input" type="text" name="email" placeholder="email" autocomplete="off" required>
            <input class="input" type="password" name="password" placeholder="Password" autocomplete="new-password" required>
            <button class="button" type="submit">Login</button>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
        <p>Forgot your password? <a href="/forgot_password">Reset it</a></p>
    </div>
</body>
</html>
