<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <h1 class = "secure-speak">Secure Speak</h1>
        <h2>Create an Account</h2>
        <form action="/signup" method="post">
            <input class="input" type="text" name="email" placeholder="email" autocomplete="off" required>
            <input class="input" type="password" name="password" placeholder="Password" autocomplete="off" required>
            <button class="button" type="submit">Sign Up</button>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <p>Already have an account? <a href="/">Login</a></p>
    </div>
</body>
</html>